{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Social network</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}" />
        <link rel="stylesheet" href="{% static "css/font-awesome.css" %}">
    {% endblock %}
</head>
<body>

{% block content %}
{% endblock %}

</body>
</html>