.feed-page-title {
    margin: auto;
}

.post-text {
    overflow-y: scroll;
    height: 150px;
}

.row {
    margin: 15px;
}

.card-title {
    color: coral;
}

.icon-heart {
    color: red;
    margin-right: 20px;
}