{% extends "base.html" %}


{% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 offset-md-4">
            <h2 class="feed-page-title" >Posts</h2>
        </div>
    </div>
        {% for post in object_list %}
            <div class="row">
                <div class="col-sm-4 offset-md-4">
                <div class="card" style="width: 30rem;">
                  <div class="card-body">
                    <h5 class="card-title">{{ post.user.username }}</h5>
                    <p class="card-text">{{ post.text }}</p>
                      {% if post.likes_count %}
                          <i class="icon-heart" aria-hidden="true">   {{ post.likes_count }}  </i>
                      {% endif %}
                    <a href="#" class="card-link">Like</a>
                    <a href="#" class="card-link">Unlike</a>
                  </div>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
